.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Nav{
  background: #091d86;
  display: flex;
  flex-direction: row-reverse;
  
}

a{
  color:  #ffcc00;
  text-decoration: none;
  padding-right: 1%;
}

.Header{

  background: #091d86;
  height: 60px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.dashboard{
  display: flex;
  justify-content: space-around;
  
}

.user{
  width: 30%;
  border: 1px solid black;
  text-align: center;
  
}

.trips{
  width: 60%;
  border: 1px solid black;
}

/* .linkStyle {
  cursor: pointer;
}

.linkStyle:hover {
  color: black;
} */